
# Project relatated
# Made by cmake
conf/cmake/CmakeDefinitions.h
# Build directories used by some
build*
cmake-build*

# IDE specific
## Eclipse
.cproject/
.project/
.settings/

## Netbeans
nbproject/

## CLion
.idea

## vscode
.vscode

# Temporary files
*~
*.#*
.*.swp


# Mac specific stuff
.DS_Store

# Prevent accidental addition of an old .svn folder
.svn/

